## IMPORT

In [43]:
import pandas as pd

In [44]:
import numpy as np
from scipy.stats import norm
from scipy import stats
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt
import seaborn as sns

## READING IN DATA

In [46]:
HomeVets2011_2012 = pd.read_excel('C:/Users/17082/OneDrive/Desktop/2011_2012HomeVets.xlsx')

In [47]:
HomeVets2011_2012.head()

  State Homeless Veterans, 2012 Homeless Veterans, 2011
0    AK                     256                     288
1    AL                     526                     659
2    AR                     362                     411
3    AZ                    1478                    1528
4    CA                   14611                   16783

## DATA WRANGLING

In [51]:
HomeVets2011_2012.dropna(inplace=True)

## Mean

In [55]:
HomeVets2011_2012.mean()

C:\Users\17082\AppData\Local\Temp\ipykernel_18472\2986540252.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  HomeVets2011_2012.mean()

Series([], dtype: float64)

In [59]:
HomeVets2011_2012.state [HomeVets2011_2012.state == 'AK'].hist() + HomeVets2011_2012.state [HomeVets2011_2012.state == 'IL'].hist()

AttributeError: 'DataFrame' object has no attribute 'state'

## Independent Chi-Square

In [79]:
crosstab = pd.crosstab('HomeVets2011_2012 ['state']'),(HomeVets2011_2012 ['state'])

SyntaxError: invalid syntax (3702084894.py, line 1)